.body {
    font-family: Georgia;
    background-color: #E8DCA2;
}

a {
    color: #43622B;
}

h1 {
    text-shadow: 3px 3px 5px #ECBA3D;
    font-size: 3rem;
}

.header {
    border: 3px solid #000;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #000;
}

.header-box {
    background-color: #436228;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    border-radius: 12px 12px 0px 0px;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

#branded-title-heading {
    font-family: "./../.../fonts/CinzelDecorative-Regular.ttf";
}

.header-logo{
    background-image: "./budget-goat-circle.png";
    box-shadow: 5px 5px 15px #000;
    border-radius: 15px;
    border: 3px solid #000;
    align-self: right;
}

.navBar {
    display: flex;
    flex-flow: row;
    align-items: center;
    border-radius: 0px 0px 12px 12px;
    gap: 1rem;
    background-color: #fde581;
    padding: 0.5rem 1rem;
}

.content-container{
    gap: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #436228;
    border: 3px solid #000;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #000;    
}

.content {
    position: relative;
    border: 3px solid #ecba3d;
    background-color: #fde581;
    border-radius: 10px;
    gap: 0.5;
    margin: 0.5rem;
    padding: 0.5rem;
    line-height: 1.25;
}

.form {
    gap: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #436228;
    border: 3px solid #000;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #000;
}

.form-section{
    position: relative;
    border: 3px solid #ecba3d;
    background-color: #fde581;
    border-radius: 15px;
    gap: 0.5;
    margin: 0.5rem;
    line-height: 2;
    box-shadow: 3px 3px 10px #000;
}

.form-section-title {
    border: 3px solid #000;
    background-color: #99B927;
    border-radius: 15px;
    padding: 0.3rem 0.5rem;
    gap: 0.25;
    margin: 0.25rem;
    font-weight: bold;
    box-shadow: 3px 3px 8px #000;
}

.input-output-grouping {
    border: 0px;
    display: flex;
    flex-flow: column;
}

.form-header {
    border: 3px solid #ECBA3D;
    background-color: #99B927;
    box-shadow: 3px 3px 8px #000;
    border-radius: 15px;
    padding: 0.3rem 0.5rem;
    align-self: center;
    text-align: center;
    max-width: 25%;
    margin-bottom: 0;
}

.input-box {
    position: absolute;
    right: 0.5rem;
}

.button-box{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
    gap: 0.5rem;
}

.button {
    box-shadow: 3px 3px 8px #000;
    border: 3px solid #000;
    border-radius: 15px;
    padding: 0.5rem;
}

.footer {
    background-color: #436228;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 15px;
    border: 3px solid #000;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 3px 3px 10px #000;
}

.footer-logo {
    background-image: "budget-goat-logo-words.png";
    box-shadow: 5px 5px 15px #000;
    border-radius: 15px;
    border: 3px solid #000;
    float: right;
}